.MainHud {
    width: 100%;
    height: 100%;
}

.ArtifactPickers{
    width: 100%;
    height: 100%;
    margin-left: 19%;
    margin-top: 25%;
    flow-children: right;
}

.Artefact_Name{
    height: 10%;
    width: 100%;
    margin-top: 2%;
    text-align: center;
    color:white;
    font-size: 25px;
}

.Artefact_Image{
    height: 30%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.Artefact_Description{
    height: 60%;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 5%;
}

.ArtifactPicker{
    margin-left: 5%;
    width: 28%;
    height: 100%;
    background-color: gray;
    border-radius: 15px;
    flow-children: down;
}

.hoverpanel{
    background-color: rgb(76, 76, 76);
}

#ArtifactPickersPanel{
    width: 60%;
    height: 40%;
}

.GameProgression{
    background-color: gray;
    border-radius: 0px 15px 15px 0px;
    height: 10%;
    width: 10%;
    margin-top: 20%;
    flow-children: down;
}

#WaveCounter{
    color:white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

#TimeBeforeNextWave{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
